.container {
  background: var(--bg0);
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo {
  width: 3.125rem;
  height: 3.75rem;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 600px) {
  .container {
    height: 12vh;
  }
}
