.container {
  display: flex;
  flex-direction: column;
  position: fixed;
  bottom: 0;
  justify-content: center;
  align-items: center;
  left: 2rem;
}

.icon {
  fill: var(--ac1);
  margin: 0.6rem;
  cursor: pointer;
}

.icon:hover {
  fill: var(--ac0);
}

.longLine {
  margin-bottom: 1.2rem;
  border-left: 2px solid var(--ac1);
  height: 100px;
}

.shortLine {
  margin-top: 1.2rem;
  border-left: 2px solid var(--ac1);
  height: 25px;
}

@media screen and (max-width: 600px) {
  .icon {
    width: 3rem;
    height: 3.25rem;
  }
  .longLine {
    height: 70px;
  }
  .shortLine {
    height: 15px;
  }
  .container {
    position: fixed;
    bottom: 0;
    left: calc(50% - 2rem);
  }
}
