.btn {
  color: var(--ac1);
  font-size: 1.1rem;
  background-color: #1a1a1a00;
  border: 2px solid var(--ac1);
  padding: 0.3rem 1rem;
  margin: 0.6rem;
  border-radius: 2rem;
}

.btn:hover {
  cursor: pointer;
  color: #1a1a1a;
  background-color: var(--ac1);
  border: 2px solid var(--ac0);
}

.btn a {
  text-decoration: none;
  color: var(--ac1);
}

.btn:hover a {
  color: var(--bg0);
}

@media screen and (max-width: 600px) {
  .btn {
    font-size: 1.5rem;
  }

  .btn a {
    font-size: 1.5rem;
  }
}
