.container {
  background: #1a1a1a;
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
}

.btn {
  font-size: 1.1rem;
  background-color: #1a1a1a;
  border: 2px solid #f5e80a;
  padding: 0.3rem 1rem;
  border-radius: 2rem;
}

.btn:hover {
  background-color: #f5e80a;
  border: 2px solid #fff100;
}

.btn a {
  text-decoration: none;
  color: #f5e80a;
}

.btn:hover a {
  color: #1a1a1a;
}
