.container {
  background: #1a1a1a;
  display: flex;
  width: 100vw;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  position: sticky;
  top: 0;
}

.logo {
  width: 3.125rem;
  height: 3.75rem;
}
