.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.input {
  background: var(--bg1);
  border: 2px solid var(--ac1);
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--ac0);
  text-align: center;
}
.input::placeholder {
  text-align: center;
  color: var(--ac2);
  opacity: 0.75;
}
.input:focus {
  outline: none;
}
