.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--bg0);
}
.input {
  background: var(--bg0);
  box-shadow: 0px 0px 0.25rem 0.0625rem var(--ac0);
  border: 1.5px solid var(--ac1);
  padding: 0.5rem;
  border-radius: 2rem;
  color: var(--ac0);
  text-align: center;
}
.input::placeholder {
  text-align: center;
  color: var(--ac2);
  opacity: 0.75;
}
.input:focus {
  outline: none;
  box-shadow: 0px 0px 0.25rem 0.25rem var(--ac0);
}
.error {
  box-shadow: 0px 0px 0.25rem 0.0625rem var(--er);
  background: var(--bg0);
  border: 2px solid var(--er);
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: var(--er);
  text-align: center;
  cursor: pointer;
}
