.container {
  /* width: 60%;
  max-width: 500px; */
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  z-index: 10;
  position: fixed;
  top: 5.5rem;
  background: #2a2a2a;
  padding: 0 2.8rem;
  box-shadow: 2px 2px #1a1a1a;
}
.icon {
  margin: 0.725rem;
}
.options {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.activeBtn {
  background: #fff100;
  color: #2a2a2a;
  border: 2px solid #f5e80a;
  padding: 0.3rem 1rem;
  margin: 0.6rem;
  border-radius: 2rem;
  cursor: pointer;
}
.btn {
  background: #1a1a1a00;
  color: #fff100;
  border: 2px solid #f5e80a;
  padding: 0.3rem 1rem;
  margin: 0.6rem;
  border-radius: 2rem;
  cursor: pointer;
}

@media screen and (max-width: 600px) {
  .container {
    position: fixed;
    top: auto;
    bottom: 2.5rem;
    right: 2.5rem;
    padding: 0.5rem;
    border-radius: 2.5rem;
    background: #fff100;
    box-shadow: none;
    width: auto;
    align-items: center;
  }
  .options {
    display: none;
    flex-direction: row;
  }
  .btn {
    background-color: #fff100;
    border: 2px solid #1a1a1a;
    color: #1a1a1a;
    font-size: 12px;
  }
  .activeBtn {
    background-color: #1a1a1a;
    border: 2px solid #fff100;
    color: #fff100;
    font-size: 12px;
  }
}
