.work {
  display: flex;
  flex-direction: column;
  height: 100vh;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: calc(100vw - 14rem);
  flex-direction: column;
  justify-content: center;
  display: flex;
  margin: 10rem 1rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.details {
  padding: 1rem;
  background: #1a1a1a;
}

.roles {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  flex-direction: row;
  position: absolute;
  margin: 8rem 0;
}

.image {
  filter: brightness(45%);
}
.image:hover {
  filter: brightness(70%);
}

.date {
  position: absolute;
  margin: 0 1rem;
  color: #d6cc22;
}

.title {
  position: absolute;
  margin: 1rem;
  font-family: "Vampiro One", cursive;
  font-size: 6rem;
  color: #fff100;
}

.role {
  color: #fff100;
  padding: 0.3rem 1rem;
  border-radius: 2rem;
  border: 2px solid #fff100;
  margin: 0 0.5rem;
}

.links {
  display: flex;
  flex-direction: row;
  left: 0;
  position: absolute;
  margin: 0 9rem;
  justify-content: flex-end;
}
.desc {
  color: #d6cc22;
  padding: 0 1rem;
}

.stack {
  margin: 0 1.8rem;
  display: flex;
  justify-content: flex-end;
}

.tool {
  margin: 0 0.5rem;
}

@media screen and (max-width: 900px) {
  .work {
    height: 70vh;
    padding: 0 2rem;
  }
}
@media screen and (max-width: 600px) {
  .image {
    filter: brightness(100%);
  }
  .container {
    width: 100%;
    position: unset;
    margin: 125px 0;
    background: #1a1a1a;
  }
  .title {
    position: unset;
    font-size: 42px;
  }
  .date {
    position: unset;
  }
  .roles {
    position: relative;
    margin: 1rem;
  }
  .desc {
    font-size: medium;
    position: relative;
  }
  .stack {
    position: relative;
  }
  .links {
    position: relative;
    margin: 1rem;
  }
}
