.work {
  display: flex;
  flex-direction: column;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container {
  width: calc(100vw - 14rem);
  flex-direction: column;
  justify-content: center;
  display: flex;
  margin: 2rem 1rem;
}

.card {
  display: flex;
  flex-direction: column;
}

.details {
  padding: 1rem;
  background: var(--bg0);
}

.roles {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
  flex-direction: row;
  position: absolute;
  margin: 8rem 0;
}

.image {
  filter: brightness(45%);
}
.image:hover {
  filter: brightness(70%);
}

.date {
  position: absolute;
  margin: 0 1rem;
  color: var(--ac3);
}

.title {
  position: absolute;
  margin: 1rem;
  font-family: "Vampiro One", cursive;
  font-size: 6rem;
  color: var(--ac0);
}

.role {
  color: var(--ac0);
  padding: 0.3rem 1rem;
  border-radius: 2rem;
  border: 2px solid var(--ac0);
  margin: 0 0.5rem;
}

.links {
  display: flex;
  flex-direction: row;
  left: 0;
  position: absolute;
  margin: 0 9rem;
  justify-content: flex-end;
  align-items: center;
}
.desc {
  color: var(--ac3);
  padding: 0 1rem;
}

.stack {
  margin: 0 1.8rem;
  display: flex;
  justify-content: flex-end;
}

@media screen and (max-width: 600px) {
  .image {
    filter: brightness(100%);
  }
  .container {
    width: 90vw;
    margin: 2rem;
    background: var(--bg0);
  }
  .title {
    position: initial;
    font-size: 42px;
  }
  .date {
    position: inherit;
  }
  .roles {
    position: relative;
    margin: 1rem;
  }
  .desc {
    font-size: medium;
    position: initial;
  }
  .links {
    position: relative;
    margin: 1rem;
  }
  /* .stack:before {
    content: "made with";
    color: var(--ac3);
    padding: 0.5rem 0;
    position: relative;
    bottom: 1rem;
  } */
}
